.root {
    max-width: 100%;
}
.media {
    height: 0;
    padding-Top: 56.25%; 
  }

.cardActions {
    display: flex;
    justify-content: center;
  }

.cardContent {
    display: flex;
    justify-content: space-between;
  }